<main class="main">
    {{#with data}}
    <div class="main__content">
        <h1 class="title title--center">{{name}}</h1>

        <a href="#" class="add-button">
            <img src="/svg/add_button.svg">
            Додати до плейліста
        </a>

        <ul class="track__list">
            {{#each tracks}}
            <li class="track">
                <img height="92" src="{{image}}" alt="{{name}}">
                <div class="track__content">
                    <strong class="track__name">{{name}}</strong>
                    <em class="track__autor">{{autor}}</em>
                </div>
                <a href="/spotify-track-add?playlistId={{../playListId}}&trackId={{id}}">
                <img src="svg/add_playlist.svg">
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/with}}
</main>